@import 'normalize.css';

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background-color: #000300;
}

.App {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: crimson;
  text-align: center;
}

.App-logo {
  height: 20vmin;
}

.App-link {
  color: darkgray;
}

.tree-bg {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}

.mountains-fg {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}

h1, h2, h3, h4, p {
  color: white;
  background-color: #003a47;
  padding: 5px;
  margin: 0.5em 0;
}

img.profile-img {
  width: 33%;
  border-radius: 50%;
  border: 2px double rgb(0, 44, 39);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  animation: slideIn 1s ease;
}

.Intro-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  margin-left: 20px;
  color: white;
}

.Body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
  color: white;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .Intro-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    margin-left: 20px;
  }

}

.css-button-arrow--green {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #003a47;
}
.css-button-arrow--green:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left:8px;
}
.css-button-arrow--green:hover:after {
  opacity: 1;
  right: 10px;
}
.css-button-arrow--green:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

/* .bottom-component {
  z-index: 10;
  width: 100%;
}

.after-parallax {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
} */


.Parallax-main {
  display: block;
}



/* .bg-image {
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
}

.fg-image {
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: fill;
} */