a.Projects-project {
  text-decoration: none;
  transition: background-color 0.33s ease;
  color: inherit;
}

a.Projects-project:visited {
  text-decoration: none;
  transition: background-color 0.33s ease;
  color: inherit;
}

h2.Project-title {
  transition: background-color 0.33s ease;
}

h2.Project-title:hover {
  background-color: rgb(61, 129, 112);
}

.Projects-gif {
  width: 100%;
}

